Post_and_Sleeve/
Pea_on_a_Peg/
__pycache__/
cogito_images/
cogito_labels/
__pycache__/
cogito_images/
cogito_labels/
slicing_records/
thread_samples/
temp.py
todo.txt
proc_visual.py
win-env


*/images_pre/
*/annotations_pre/
*/images_pre/
*/labeled_images/
*/labeled_images_5_6/
*/kinematics/
*/output_ext/
*/output/
*/output_non_interpolation/
*/vis_context_labels_copy/
*/ctx_ian/
*/ctx_kay/
*/ctx_output/
*/vis_context_labels_null_state - Copy/

Peg_Transfer/

Needle_Passing/mask_output/

Knot_Tying/Annotations/


Suturing/annotations/
Suturing/annotations_pre/

Needle_Passing/mask_output/*
Knot_Tying/images
Suturing/images
Suturing/mask_output