Post_and_Sleeve/
Pea_on_a_Peg/
__pycache__/
cogito_images/
cogito_labels/
*/annotations_pre/
*/images_pre/
__pycache__/
cogito_images/
cogito_labels/
Pea_on_a_Peg/
slicing_records/
thread_samples/
Post_and_Sleeve/


*/images_pre/
*/labeled_images/
*/labeled_images_5_6/
*/kinematics/
*/output_ext/
*/output/
*/output_non_interpolation/
proc_visual.py
Thread_Sampling.py
win-env
*/vis_context_labels_copy/

temp.py
todo.txt